{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "./tsconfig.json"
  },
  "plugins": ["react", "@typescript-eslint", "prettier"],
  "extends": [
    "next/babel",
    "next/core-web-vitals",
    "standard-with-typescript",
    "prettier",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    // 충돌날 경우, rules에서 해당 속성을 off 처리
    "@typescript-eslint/semi": "off",
    "@typescript-eslint/space-before-function-paren": "off"
  }
}
